#textdomain wesnoth-Return_of_the_Monster
[unit_type]
    id=Snow Sorceress
    name= _ "Snow Sorceress"
    race=fairy
    gender=female
    image="units/snow-fairies/snow-sorceress.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=41
    movement_type=snowfairyfoot
    movement=5
    experience=120
    level=2
    alignment=chaotic
    advances_to=Ice Fairy
    cost=38
    usage=mixed fighter
    description= _ "Snow Sorceresses have lived in the highlands of Wesnoth for many centuries. Unlike most elves, who prefer the rich greenery of the elven forests, they love the stark beauty of the high mountains. Their magical affinity with their surroundings is beginning to grant them greater powers; they are rarely troubled by even the most intense cold, and they have learned how to channel the elemental power of the bleak highland weather into an arcane blast of arctic purity."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_ARCANE}
    {DEFENSE_ANIM "units/snow-fairies/snow-sorceress-defend.png" "units/snow-fairies/snow-sorceress.png" {SOUND_LIST:ELF_FEMALE_HIT}}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
        [frame]
            duration=250
            image="units/snow-fairies/snow-sorceress.png"
        [/frame]
    [/standing_anim]
    [attack]
        name=staff
        description=_"staff"
        type=impact
        range=melee
        damage=4
        number=2
        range=melee
        icon=attacks/druidstaff.png
    [/attack]
    [attack]
        name=freeze
        description=_"freeze"
        type=impact
        icon=attacks/iceball.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=4
        number=3
        range=ranged
    [/attack]
    [attack]
        name=ice flash
        description=_"ice flash"
        type=arcane
        damage=7
        number=4
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/faerie-fire.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
             [frame]
                begin=-200
                end=-100
                image="units/snow-fairies/snow-sorceress.png"
            [/frame]
            [if]
                hits=yes
                [frame]
                    begin=-100
                    end=100
                    image="units/snow-fairies/snow-sorceress.png"
	                sound=staff.wav
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-100
                    end=100
                    image="units/snow-fairies/snow-sorceress.png"
	                sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
     [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=freeze
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        [frame]
            begin=-450
            end=-375
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo1.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo2.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo3.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo4.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo5.png
            halo_x,halo_y=0,-28
        [/frame]
        {SOUND:SLOW}
        [frame]
            begin=-75
            end=0
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo6.png
            sound=entangle.wav
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo7.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/nature-halo8.png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ice flash
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}

        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/snow-fairies/snow-sorceress.png"
                sound=magic-faeriefire.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/snow-fairies/snow-sorceress.png"
                sound=magic-faeriefire-miss.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/else]

        [frame]
            begin=-375
            end=-300
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/snow-fairies/snow-sorceress.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]
[/unit_type]
