#textdomain wesnoth-Return_of_the_Monster
[textdomain]
    name="wesnoth-Return_of_the_Monster"
    path="data/add-ons/Return_of_the_Monster/translations"
[/textdomain]
[binary_path]
    path=data/add-ons/Return_of_the_Monster/external_binary_data
[/binary_path]
[campaign]
    id=Return_of_the_Monster
    name= _ "Return of the Monster"
    abbrev= _ "RotM"
    define=CAMPAIGN_RETURN_OF_THE_MONSTER
    extra_defines=ENABLE_ARMAGEDDON_DRAKE,ENABLE_DWARVISH_ARCANISTER

    icon="units/nagas/warrior-melee-6.png~RC(magenta>red)" 
    image=fighter.png
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 "units/nagas/fighter-melee-1.png~RC(magenta>red)" _"Noble" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "units/nagas/warrior-melee-1.png~RC(magenta>red)" _"Royal" _"(Normal)"} +
    ";" + {MENU_IMG_TXT2 "units/nagas/myrmidon-melee-1.png~RC(magenta>red)" _"Lord" _"(Hard)"}

    first_scenario=01_A_Rule_of_Nagas

	description= _ "It was time for Amailoss, born from the naga queen's last egg, to leave home. Time for him to grow into a leader in his own right, and eventually become the guardian and leader of some other naga city. But along the way, he became friends with an unusual mud-crawler, they met a strange young monster, discovered that a spirit had escaped from an orc prison, and the mystery of that spirit became a grave challenge for Amailoss and the many races in the region....

A naga campaign, involving elves, orcs, saurians, turtle-like races, and some monsters. There are 16 game-play and 2 dialog scenarios. All scenarios are here and playable. This is still an early release, so bugs are possible, and some scenarios may need more balancing. Feedback on all aspects of the campaign will be gratefully received. 
 
Return of the Monster:" + " 0.7.1" + _"
Required Wesnoth version:" + " 1.10.x "

    # credit:
    [about]
        title= _ "Campaign Design"
        [entry]
           name="SkyOne"
        [/entry]
    [/about]
    [about]
        title= _ "Co-Author"
        [entry]
           name="Sneezy"
        [/entry]
    [/about]
    [about]
        title= _ "Guest Appearance and WML Consultant"
        [entry]
            name="Sapient"
        [/entry]
    [/about]
    [about]
        title= _ "Guest Appearance"
        [entry]
            name="zookeeper as Master Zooke"
        [/entry]
    [/about]
    [about]
        title= _ "Contributions - Images"
        [entry]
            name="depthstalker.png as Sapient's base image - Syntax_Error"
        [/entry]
    [/about]
    [about]
        title= _ "Artwork Consultant on the Monstrous Carapace unit"
        [entry]
            name="doofus-01"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_RETURN_OF_THE_MONSTER
    [binary_path]
        path=data/add-ons/Return_of_the_Monster
    [/binary_path]
    
    {~add-ons/Return_of_the_Monster/utils}

    [+units]
        {~add-ons/Return_of_the_Monster/units}
        {~add-ons/Return_of_the_Monster/units/carapaces}
        {~add-ons/Return_of_the_Monster/units/nagas}
        {~add-ons/Return_of_the_Monster/rotm-race.cfg}
    [/units]
    [units]
        [hide_help]
            type=Naga Fighter
        [/hide_help]
    [/units]
    {~add-ons/Return_of_the_Monster/scenarios}
#endif

